
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,400;1,600&display=swap');


.App {
  text-align: center;
  background: #2b0402;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
